header{
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  height: 565px;
}
.mainImage {
  position: absolute;
  background: url("../images/backImage.jpg") no-repeat center center;
  background-size: cover;
  height: 565px;
  width: 100%;
  top: 0;
  left: 0;
}
#backImg {
    background: url("../images/backImage.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 0;
}
.dropdown:hover > .dropdown-menu {
    display: block !important;
}
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
.slidecontainer {
  width: 80%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.img-responsive {
    width: 420px;
    height: 250px;
}

#gal1{
    text-decoration: underline;
    position: absolute;
    margin-bottom: 10px;
}


#gal2{
    position: absolute;
}
#cgal2 {
    position: inherit !important;
    right: auto !important;
    bottom: 28px !important;
    left: 0% !important;
    z-index: 10 !important;
    padding-bottom: 20px !important;
    opacity: 0.8;
    padding-top: 0px !important;
}
#cap1{
    position: relative;
}
.rounded {
    border-radius: 15px!important;
}

.img-responsive1 {
    width: 150px;
    height: 140px;
}

.site-footer{
    background: #01142A;
}

ul {
    margin: 0px;
    padding: 0px;
}

#ullia
{
  list-style-type: none;
}

#liaf{
    color: white;
    text-decoration:none !important;
}
i{
    height: 40px;
    width: 40px;
    text-align: right;
    line-height: 38px;
    color: white;
}

#fsvg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(144deg) brightness(104%) contrast(101%);
}